.request {
  &__container {
    @include adaptiv-value("margin-top", 90, 13, 0);
    // margin-top: 90px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    align-items: center;
    padding: 0px 33px;
  }

  &__title {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    @include adaptiv-value("font-size", 24, 15, 0);
    @include adaptiv-value("line-height", 29, 16, 0);
    // font-size: 24px;
    // line-height: 29px;
    text-align: center;
  }

  &__forma {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    @include adaptiv-value("width", 434, 234, 0);
    // width: 434px;
  }

  &__input {
    margin: 22px auto;
    // padding: 0 20px;
    // border: none;
    text-align: center;
    font-size: small;
    opacity: 0.6;
    outline: invert;
    border: 3px solid #ffffff;
    font-weight: 600;
    @include adaptiv-value("font-size", 24, 15, 0);
    @include adaptiv-value("line-height", 29, 16, 0);
    // font-size: 20px;
    // line-height: 24px;

    &:nth-child(4) {
      @include adaptiv-value("height", 77, 57, 0);
      // height: 77px;
    }
  }

  &__pesonaldata {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }

  &__btns {
    display: flex;
    justify-content: space-evenly;
    @include adaptiv-value("margin-top", 50, -50, 0);
    // margin-top: 50px;
  }
}

.btn {
}
.btn-idea {
}
